<%= form_for @technician, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
<fieldset>
	<legend>
		<%= controller.action_name.capitalize %> Technician <small><%= controller.action_name.capitalize %> information about a technician</small>
	</legend>
	<div class="control-group">
		<%= f.label :first_name , :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :first_name %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :last_name , :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :last_name %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :email , :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :email %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :phone , :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :phone %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :license , :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :license %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :license_expiration , :class => 'control-label' %>
		<div class="controls">
			<%= f.date_select :license_expiration %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :license_image , :class => 'control-label' %>
		<div class="controls">
			<%= f.file_field :license_image %>
		</div>
	</div>
    <% if current_user.role? :admin %>
    <div class="control-group">
        <%= f.label :user , :class => 'control-label' %><div class="controls">
        <%=	select("technician", "user_id", User.where(:role => 'regular').collect {|p| [p.email , p.id] }) %>
        <%=	select("company", "company_id", Company.all.collect {|p| [p.name , p.id] }) %>
    </div></div>
    <% end %>
	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
	</div>
</fieldset>
<% end %> 