<%= form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
	<legend><%= controller.action_name.capitalize %> Job <small><%= controller.action_name.capitalize %> information about a job</small></legend>
	<div class="control-group">
		<%= f.label :name, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :address, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :address %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :start_date, :class => 'control-label' %>
		<div class="controls">
			<%= f.date_select :start_date %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :finish_date, :class => 'control-label' %>
		<div class="controls">
			<%= f.date_select :finish_date %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :inspected_by, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :inspected_by %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :contact_first_name, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :contact_first_name %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :contact_last_name, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :contact_last_name %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :contact_phone, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :contact_phone %>
		</div>
	</div>
	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
	</div>
</fieldset>
<% end %> 