<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Start date</th>
    <th>Finish date</th>
    <th>Inspected by</th>
    <th>Contact first name</th>
    <th>Contact last name</th>
    <th>Contact phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.name %></td>
    <td><%= job.address %></td>
    <td><%= job.start_date %></td>
    <td><%= job.finish_date %></td>
    <td><%= job.inspected_by %></td>
    <td><%= job.contact_first_name %></td>
    <td><%= job.contact_last_name %></td>
    <td><%= job.contact_phone %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
