<div class="row-fluid">
	<%= render 'navlist' %>
	<div class="span10">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a><span class="divider">/</span>
					</li>
					<li>
						<a href="<%= jobs_path %>">Jobs</a><span class="divider">/</span>
					</li>
					<li class="active">
						<a href="#"><%= @job.name %></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<p id="notice"><%= notice %></p>
				<div class="page-header">
					<h1><%= @job.name %>
						<small><%= @job.address %></small>
					</h1>
				</div>
				<div class="row">
					<div class="span6">
					<ul class="nav nav-pills">
						<li>
							<a href="<%= jobs_path %>"><i class="icon-arrow-left"></i> Back</a>	
						</li>
						<li>
							<a href="<%= edit_job_path(@job) %>"><i class="icon-cog"></i> Edit Job</a>	
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">

<p>
  <b>Start date:</b>
  <%= @job.start_date %>
</p>

<p>
  <b>Finish date:</b>
  <%= @job.finish_date %>
</p>

<p>
  <b>Inspected by:</b>
  <%= @job.inspected_by %>
</p>

<p>
  <b>Contact Name:</b>
  <%= @job.contact_first_name %> <%= @job.contact_last_name %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @job.contact_phone %>
</p>


			</div>
		</div>
	</div>
</div>
</div> 
