<div class="row-fluid">
	<%= render 'navlist' %>
	<div class="span8">
		<div class="row">
			<div class="span8">
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a><span class="divider">/</span>
					</li>
					<li>
						<a href="<%= companies_path %>"><%= controller_name.capitalize %></a><span class="divider">/</span>
					</li>
					<li class="active">
						<a href="#"><%= @company.name %></a>
					</li>
				</ul>
				<% if notice %>
				<div class="alert alert-block alert-success fade in">
					<a class="close" data-dismiss="alert">×</a>
					<h4 class="alert-heading"><%= notice %></h4>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span6">
						<ul class="nav nav-pills">
							<li>
								<a href="<%= companies_path %>"><i class="icon-arrow-left"></i> Back</a>
							</li>
							<li>
								<a href="<%= edit_company_path(@company) %>"><i class="icon-cog"></i> Edit Company</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<legend>
					<%= @company.name %>
				</legend>
				
<p>
  <img src="<%= @company.logo_image %>" />
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>State:</b>
  <%= @company.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @company.zipcode %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>
				
				<p>
					<b>Logo image</b>
					<a href="<%= @company.logo_image %>"><%= @company.logo_image %></a>
				</p>
			</div>
		</div>
	</div>
</div>
</div> 
