<%= form_for @inspection, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
<legend><%= controller.action_name.capitalize %> Inspection <small><%= controller.action_name.capitalize %> information about an inspection</small></legend>
  <div class="control-group">
    <%= f.label :tag , :class => 'control-label' %><div class="controls">
    <%= f.text_field :tag, :placeholder => "(optional)" %>
  </div></div>
  <div class="control-group">
    <%= f.label :building_abbrev , :class => 'control-label' %><div class="controls">
    <%= f.text_field :building_abbrev %>
  </div></div>
  <div class="control-group">
    <%= f.label :inspection_date , :class => 'control-label' %><div class="controls">
    <%= f.date_select :inspection_date %>
  </div></div>
  <div class="control-group">
    <%= f.label :floor , :class => 'control-label' %><div class="controls">
    <%= number_field_tag 'inspection[floor]', @inspection.floor, :in => 0...1000 %>
  </div></div>
  <div class="control-group">
    <%= f.label :unit , :class => 'control-label' %><div class="controls">
    <%= number_field_tag 'inspection[unit]', @inspection.unit, :in => 0...1000 %>
  </div></div>
  <div class="control-group">
    <%= f.label :user , :class => 'control-label' %><div class="controls">
    <%=	select("inspection", "user_id", User.where(:role => 'technician').collect {|p| [p.first_name + " " + p.last_name , p.id] }) %>
  </div></div>
  <div class="control-group">
    <%= f.label :location , :class => 'control-label' %><div class="controls">
    <%= f.text_field :location %>
  </div></div>
  <div class="control-group">
    <%= f.label :damper_id , :class => 'control-label' %><div class="controls">
    <%= number_field_tag 'inspection[damper_id]', @inspection.damper_id, :in => 0...1000 %>
  </div></div>
  <div class="control-group">
    <%= f.label :damper_status , :class => 'control-label' %><div class="controls">
    <%=	select("inspection", "damper_status_id", DamperStatus.all.collect {|p| [ p.abbrev, p.id ] }) %>
  </div></div>
  <div class="control-group">
    <%= f.label :damper_type , :class => 'control-label' %><div class="controls">
    <%=	select("inspection", "damper_type_id", DamperType.all.collect {|p| [ p.abbrev, p.id ] }) %>
  </div></div>
  <div class="control-group">
    <%= f.label :damper_airstream , :class => 'control-label' %><div class="controls">
    <%=	select("inspection", "damper_airstream_id", DamperAirstream.all.collect {|p| [ p.abbrev, p.id ] }) %>
  </div></div>
  <div class="control-group">
    <%= f.label :length , :class => 'control-label' %><div class="controls">
    <%= f.text_field :length %>
  </div></div>
  <div class="control-group">
    <%= f.label :height , :class => 'control-label' %><div class="controls">
    <%= f.text_field :height %>
  </div></div>
  <div class="control-group">
    <%= f.label "Is Non Accessible?" , :class => 'control-label' %>
    <div class="controls">
        <%= f.check_box :nonaccessible %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Needs replacement?" , :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :replace %>
    </div>
  </div>
  <div class="control-group">
		<%= f.label "Damper Image Open" , :class => 'control-label' %>
		<div class="controls">
			<%= f.file_field :damper_image %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label "Damper Image Closed" , :class => 'control-label' %>
		<div class="controls">
			<%= f.file_field :damper_image_second %>
		</div>
	</div>
  <div class="control-group">
    <%= f.label :description , :class => 'control-label' %><div class="controls">
    <%= f.text_field :description %>
  </div></div>
  <div class="control-group">
    <%= f.label :notes , :class => 'control-label' %><div class="controls">
    <%= f.text_field :notes %>
  </div></div>
  <div class="control-group">
  	<%= f.label :job , :class => 'control-label' %><div class="controls">
    <%=	select("inspection", "job_id",  @jobs.all.collect {|p| [p.name , p.id] })  %>
  </div></div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
  </fieldset>
<% end %>
