<div class="row-fluid">
	<%= render 'navlist' %>
	<div class="span10">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a><span class="divider">/</span>
					</li>
					<li>
						<a href="<%= inspections_path %>"><%= controller_name.capitalize %></a><span class="divider">/</span>
					</li>
					<li class="active">
						<a href="#"><%= @inspection.damper_id %></a>
					</li>
				</ul>
				<% if notice %>
				<div class="alert alert-block alert-success fade in">
					<a class="close" data-dismiss="alert">×</a>
					<h4 class="alert-heading"><%= notice %></h4>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1><%= @inspection.damper_id %> <small><%= @inspection.location %></small></h1>
				</div>
				<div class="row">
					<div class="span6">
						<ul class="nav nav-pills">
							<li>
								<a href="<%= inspections_path %>"><i class="icon-arrow-left"></i> Back</a>
							</li>
							<li>
								<a href="<%= edit_inspection_path(@inspection) %>"><i class="icon-cog"></i> Edit Inspection</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
  <b>Building abbrev:</b>
  <%= @inspection.building_abbrev %>
</p>

<p>
  <b>Inspection date:</b>
  <%= @inspection.inspection_date %>
</p>

<p>
  <b>Floor:</b>
  <%= @inspection.floor %>
</p>

<p>
  <b>Technician</b>
  <%= @inspection.technician.first_name %> <%= @inspection.technician.last_name %>
</p>

<p>
  <b>Location:</b>
  <%= @inspection.location %>
</p>

<p>
  <b>Damper:</b>
  <%= @inspection.damper_id %>
</p>

<p>
  <b>Damper status:</b>
  <%= @inspection.damper_status.abbrev %> - <%= @inspection.damper_status.description %>
</p>

<p>
  <b>Damper type:</b>
  <%= @inspection.damper_type.abbrev %> - <%= @inspection.damper_type.description %>
</p>

<p>
  <b>Photo url:</b>
  <%= @inspection.photo_url %>
</p>

<p>
  <b>Description:</b>
  <%= @inspection.description %>
</p>

<p>
  <b>Job:</b>
  <%= @inspection.job.name %>
</p>

			</div>
		</div>
	</div>
</div>
</div> 
