<%= form_for @report, :html => { :class => 'form-horizontal' } do |f| %>
<legend>
	<%= controller.action_name.capitalize %> Report <small>Select a job to generate a report</small>
</legend>
<div class="control-group">
 <%= f.label :job , :class => 'control-label' %><div class="controls">
    <%=	select("report", "job_id", @jobs.all.collect {|p| [p.name , p.id] }) %>
   </div></div>
   <div class="control-group">
		<%= f.label :cover_image , :class => 'control-label' %>
		<div class="controls">
			<%= f.file_field :cover_image %>
		</div>
	</div>
   <% if current_user.role? :admin %>
  <div class="control-group">
    <%= f.label :user , :class => 'control-label' %><div class="controls">
    <%=	select("report", "user_id", User.where(:role => 'regular').collect {|p| [p.email , p.id] }) %>
  </div></div>
  <% end %>
	<div class="form-actions">
		<%= f.submit nil, :class => 'btn btn-primary' %>
	</div>
	<% end %>
