<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>Fire Damper Inspections</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
                font-family: 'Helvetica', sans-serif;
			}
			.page {
				page-break-after: always !important;
				clear: both;
				display: block;
			}
			#outer {
				position: relative;
				width: 100%;
				height: 800px;
				overflow: visible;
			}

			#inner {
				height: 200px;
				position: relative;
				top: 60%;          /***  height / 2   ***/
			}
    		.center {
    			margin-left: auto;
    			margin-right: auto;
    			display: block;
    		}
		
    		.vcenter {
    			min-height: 10em;
        		display: table-cell;
        		vertical-align: middle;
    		}
		
    		.page {
    			width: 900px;
    		}
		
    		.cover-page h1 {
    			font-size: 45px;
    			margin-top: 40px;
    		}
	
    		.cover-page h2 {
    			font-size: 35px;
    		}
    		.cover-page strong {
    			font-size: 25px;
    		}

    		.page h1.center, 
    		.page h2.center,
    		.page p.center {
    			text-align:center;
    			width: 600px;
    			padding: 20px;
    		}

            .page-footer {
                padding-top:20px;
            }

            td {
                padding-top: 10px;
            }
        
            .hor-minimalist-b
            {
            	font-size: 12px;
            	background: #fff;
            	margin: 0px;
            	width: 100%;
            	border-collapse: collapse;
            	text-align: left;
            }
            .hor-minimalist-b th
            {
            	font-size: 14px;
            	font-weight: normal;
            	color: #039;
            	padding: 10px 8px;
            	border-bottom: 2px solid #6678b1;
            }
            .hor-minimalist-b td
            {
            	border-bottom: 1px solid #ccc;
            	color: #669;
            	padding: 6px 8px;
                font-size: 16px;
            }
            .hor-minimalist-b tbody tr:hover td
            {
            	color: #009;
            }
            .hor-minimalist-b tfoot tr
            {
            	border-bottom: 1px solid #ccc;
            	border-top: 1px solid #ccc;
            	border-left: 1px solid #ccc;
            	border-right: 1px solid #ccc;
            }
            .hor-minimalist-b tfoot tr td
            {
            	color: blue;
            }
            
		</style>

<link type='text/css' rel='stylesheet' src='file://<%= Rails.root.join('public','stylesheets','bootstrap.min.css').to_s %>' />
<link type='text/css' rel='stylesheet' src='file://<%= Rails.root.join('public','stylesheets','bootstrap-responsive.min.css').to_s %>' />
<link type='text/css' rel='stylesheet' src='file://<%= Rails.root.join('public','stylesheets','DT_bootstrap.css').to_s %>' />
<link type='text/css' rel='stylesheet' src='file://<%= Rails.root.join('public','stylesheets','site.css').to_s %>' />
	</head>
	<body>
		<div class="container">
			<div class="page cover-page center">
				<div class="page-header">
					
				<% if @company.logo_image != nil %>
				<img class="center" src="<%= @company.logo_image %>" width="150" height="150" alt="logo"> 
				<% end %>
				</div>
				<div class="row">
					<div class="span4 ">
						<h1 class="center"><%= @job.name %></h1>
						<p>
							<h2 class="center">Fire and Smoke Damper<br/>Inspection Report</h2>
						</p>
						<p class="center">
							<strong style="font-size: 16px"><%= @job.address %></strong>
						</p>
					</div>
					<div class="span6">
						<% if @report.cover_image != nil %>
						<p class="center">
							<img class="center" src="<%= @report.cover_image %>" width="550" height="450" alt="">
						</p>
						<% end %>
						<p class="center" >
							<strong><%= @job.finish_date.to_s(:long) %></strong>
						</p>
					</div>
				</div>
			</div>
		 	<div class="page">
				<div class="page-header">
					<% if @company.logo_image != nil %>
					<img src="<%= @company.logo_image %>" width="150" height="150" alt="logo"> 
					<% end %>
					<p>
						<%= @company.name %>
						<br />
						<%= @company.address %>
						<br />
						<%= @company.city %>, <%= @company.state %> <%= @company.zipcode %>
						<br />
						Tel: <%= @company.phone %>
						<br />
					</p>
				</div>
				<h3>Fire and Fire/Smoke Damper Inspection Summary</h3>
				<br>
				<p>
					<%= @company.name %> inspected all fire and fire smoke dampers in accordance with NFPA 80, NFPA 90A, NFPA 92A, NFPA 101, and NFPA 105 beginning <%= @job.start_date.to_s(:long) %> and was completed <%= @job.finish_date.to_s(:long) %>. All technicians involved in this project have current HVAC Life Safety Certifications.
				</p>
				<p>
					The report and digital pictures provided as part of this report reflect that all dampers were inspected per all applicable requirements for healthcare facilities. Information contained in this report reflects the operation and condition of the dampers at the time of this report and in no way does <%= @company.name %> guaranty or warranty the continued operation of the dampers that are included in this report after the time of inspection.
				</p>
				<br />
				<br />
				<p>
					<strong>Inspector:</strong>
				</p>
				<p>
					_______________________________________________
				</p>
				<p>
					<strong>Date:</strong>
				</p>
				<p>
					_______________________________________________
				</p>
				<p>
					<strong>Inspector Certification Number:</strong>
				</p>
				<p>
					_______________________________________________
				</p>
				<p>
					<strong>Inspector Certification Expiration:</strong>
				</p>
				<p>
					_______________________________________________
				</p>

			</div>
			
			
			<div class="page ">
				<div id="outer">
					<div id="inner">
						<h1 class="center">Fire Damper Inspection Summary Data</h1>
				</div> 	
				</div> 
			</div>
			<div class="page">
				<div class="page-header offset1">
					
					<% if @company.logo_image != nil %>
					<img src="<%= @company.logo_image %>" width="150" height="150"  alt="logo"> 
					<% end %>
					<h1><%= @job.name %></h1>
					<h2> Fire and Smoke Damper Inspection Summary Data</h2>
				</div>
				<div>
					<table class="hor-minimalist-b" width="900" cellspacing="2" cellpadding="3">
						<thead>
							<tr class="odd">
								<th><strong>FLOOR</strong></th>
								<th><strong>FIRE</strong></th>
								<th><strong>SMOKE</strong></th>
								<th><strong>PASS</strong></th>
								<th><strong>FAIL</strong></th>
								<th><strong>NON ACCESSIBLE</strong></th>
								<th><strong>REQUIRING REPAIR</strong></th>
								<th><strong>TOTAL DAMPERS</strong></th>
							</tr>
						</thead>
						<tbody>
							<% @floor_summaries.each do |summary| %>
							<tr>
								<td><%= summary["floor"] %></td>
								<td><%= summary["fire"] %></td>
								<td><%= summary["smoke"] %></td>
								<td><%= summary["pass"] %></td>
								<td><%= summary["fail"] %></td>
								<td><%= summary["vine"] %></td>
								<td><%= summary["repair"] %></td>
								<td><%= summary["total"] %></td>
							</tr>
							<% end %>
						</tbody>
						<tfoot>
							<tr>
								<td>Totals</td>								
								<td><%= @floor_totals["fire"] %></td>
								<td><%= @floor_totals["smoke"] %></td>
								<td><%= @floor_totals["pass"] %></td>
								<td><%= @floor_totals["fail"] %></td>
								<td><%= @floor_totals["vine"] %></td>
								<td><%= @floor_totals["repair"] %></td>
								<td><%= @floor_totals["total"] %></td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="page-footer offset1">
					<p>Inspected <%= @job.start_date %> thru <%= @job.finish_date %></br>
					Inspected by <%= @job.inspected_by %></p>
				</div>
			</div>	
			<div class="page">
				<div class="page-header offset1">
					
				<% if @company.logo_image != nil %>
					<img src="<%= @company.logo_image %>" width="150" height="150" alt="logo"> 
				<% end %>
					<h1><%= @job.name %></h1>
					<h2> Fire and Smoke Damper Statistical Summary Data</h2>
				</div>
				<div>
					<h2>Percent of Total</h2>
					<table class="hor-minimalist-b" width="900" cellspacing="2" cellpadding="3">
						<thead>
							<th><strong>FLOOR</strong></th>
							<th><strong>FIRE</strong></th>
							<th><strong>SMOKE</strong></th>
							<th><strong>PASS</strong></th>
							<th><strong>FAIL</strong></th>
							<th><strong>NON ACCESSIBLE</strong></th>
							<th><strong>REQUIRING REPAIR</strong></th>
							<th><strong>TOTAL DAMPERS</strong></th>
						</thead>
						<tbody>
							<% @floor_percentages.each do |percentage| %>
							<tr>
								<td><%= percentage["floor"] %></td>
								<td><%= sprintf("%.1f%",percentage["fire"]) %></td>
								<td><%= sprintf("%.1f%",percentage["smoke"]) %></td>
								<td><%= sprintf("%.1f%",percentage["pass"]) %></td>
								<td><%= sprintf("%.1f%",percentage["fail"]) %></td>
								<td><%= sprintf("%.1f%",percentage["vine"]) %></td>
								<td><%= sprintf("%.1f%",percentage["repair"]) %></td>
								<td><%= sprintf("%.1f%",percentage["total"]) %></td>
							</tr>
							<% end %>
						</tbody>
						<tfoot>
							<tr>
								<td>Overall</td>								
								<td><%= sprintf("%.1f%",@floor_percentage_totals["fire"]) %></td>
								<td><%= sprintf("%.1f%",@floor_percentage_totals["smoke"]) %></td>
								<td><%= sprintf("%.1f%",@floor_percentage_totals["pass"]) %></td>
								<td><%= sprintf("%.1f%",@floor_percentage_totals["fail"]) %></td>
								<td><%= sprintf("%.1f%",@floor_percentage_totals["vine"]) %></td>
								<td><%= sprintf("%.1f%",@floor_percentage_totals["repair"]) %></td>
								<td><%= sprintf("%.1f%",@floor_percentage_totals["total"]) %></td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="page-footer offset1">
					<p>Inspected <%= @job.start_date %> thru <%= @job.finish_date %></br>
					Inspected by <%= @job.inspected_by %></p>
				</div>
			</div>
			
			<div class="page">
				<div id="outer">
					<div id="inner">
						<h1 class="center">Fire Damper Inspection Detail Summary</h1>
					</div>
				</div>
			</div>
			<div class="page">
				<div class="page-header offset1">
					
				<% if @company.logo_image != nil %>
					<img  src="<%= @company.logo_image %>" width="150" height="150" alt="logo"> 
				<% end %>
				
					<h1><%= @job.name %></h1>
					<h2> Fire and Smoke Damper Detail Summary</h2>
				</div>
				<div>
					<table class="hor-minimalist-b" cellspacing="2" cellpadding="3">
						<thead>
							<th><strong>FLOOR</strong></th>
							<th><strong>TAG</strong></th>
							<th><strong>TYPE</strong></th>
							<th><strong>LOCATION</strong></th>
							<th><strong>STATUS</strong></th>
							<th><strong>REMARKS</strong></th>
						</thead>
						<tbody>
							<% @inspections.each do |inspection| %>
							<tr>
								<td><%= inspection.floor %></td>
								<td><%= inspection.tag %></td>
								<td><%= inspection.damper_type.abbrev %></td>
								<td><%= inspection.location %></td>
								<% if inspection.damper_status.abbrev  == 'OK'%>
                                <td style='color: green'>PASS</td>
                                <%  else %>
                                <td style='color: red'>FAIL</td>
                                <% end %>
								<td><%= inspection.description %> <%= inspection.notes %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="page-footer offset1">
					<p>Inspected <%= @job.start_date %> thru <%= @job.finish_date %></br>
					Inspected by <%= @job.inspected_by %></p>
				</div>
			</div>	
			<div class="page">
				<div id="outer">
					<div id="inner">
						<h1 class="center">Damper Location Drawings</h1>
					</div>
				</div>
			</div>		
			<div class="page">
				<div id="outer">
					<div id="inner">
						<h1 class="center">Fire Damper Inspection Detail Data</h1>
					</div>
				</div>
			</div>
			<% @inspections.each do |inspection| %>
			<div class="page">
				<div class="container">
					<div class="page-header offset1">
						
				<% if @company.logo_image != nil %>
						<img src="<%= @company.logo_image %>" width="150" height="150" alt="logo"> 
				<% end %>
						<h1><%= @job.name %></h1>
						<h2> Fire and Smoke Damper Detail Data</h2>
					</div>
					<div class="span10 offset1">
						<table class="table">
							<tbody>
								<tr>
									<td><strong>Damper Tag:</strong></td>
									<td><%= inspection.tag %></td>
                                </tr>
                                <tr>
									<td><strong>Inspector:</strong></td>
									<td><%= inspection.user.first_name %> <%= inspection.user.last_name %></td>
								</tr>
								<tr>
									<td><strong>Building:</strong></td>
									<td><%= inspection.building_abbrev %></td>
                                </tr>
                                <tr>
									<td><strong>Date:</strong></td>
									<td><%= inspection.inspection_date %></td>
								</tr>
								<tr>
									<td><strong>Floor:</strong></td>
									<td><%= inspection.floor %></td>
                                </tr>
                                <tr>
									<td><strong>Unit:</strong></td>
									<td><%= inspection.unit %></td>
								</tr>
								<tr>
									<td><strong>Location:</strong></td>
									<td><%= inspection.location %></td>
                                </tr>
                                <tr>
									<td><strong>Damper Status:</strong></td>
									<td><%= inspection.damper_status.abbrev %> - <%= inspection.damper_status.description %></td>
								</tr>
								<tr>
									<td><strong>Damper Id:</strong></td>
									<td><%= inspection.damper_id %></td>
                                </tr>
                                <tr>
									<td><strong>Damper Type:</strong></td>
									<td><%= inspection.damper_type.abbrev %> - <%= inspection.damper_type.description %></td>
								</tr>
								<tr>
									<td><strong>Damper Airstream:</strong></td>
									<td><%= inspection.damper_airstream.abbrev %></td>
                                </tr>
                                <tr>
									<td><strong>Damper Height and Length:</strong></td>
									<td><%= inspection.height %> x <%= inspection.length %></td>
								</tr>
                                <tr>
									<td><strong>Description:</strong></td>
									<td><%= inspection.description %> <%= inspection.notes %></td>
								</tr>
							</tbody>
						</table>
					</div>
                    <br/>
					<div class="span10 offset1">
						<table class="table">
							<tbody>
								<tr>
									<% if inspection.damper_image != nil %>
									<td>
										<div class="span5 ">
						<h4> Damper Open:</h4>
					</div>
					<div class="span5">
						<a href="#" class="thumbnail"> <img src="<%= inspection.damper_image %>" alt=""  width="200px" height="300px" /> </a>

					</div>
									</td>
									
					<% end %>
					
					<% if inspection.damper_image_second != nil %>
									<td>
										<div class="span5 ">
						<h4> Damper Closed:</h4>
					</div>
					<div class="span5">
						<a href="#" class="thumbnail"> <img src="<%= inspection.damper_image_second %>" alt=""  width="200px" height="300px" /> </a>

					</div>
									</td>
									
					<% end %>
								</tr>
							</tbody>
						</table>
					</div>
    				<div class="page-footer offset1">
    					<p>Inspected <%= @job.start_date %> thru <%= @job.finish_date %></br>
    					Inspected by <%= @job.inspected_by %></p>
    				</div>
				</div>
			</div>
			<% end %> 
			<div class="page">
				<div id="outer">
					<div id="inner">
						<h1 class="center">Inspectors Certifications</h1>
					</div>
				</div>
			</div>
			<% @technicians.each do |technician| %>
			<div class="page">
				<div class="container">
					<div class="page-header offset1">
						
				<% if @company.logo_image != nil %>
						<img src="<%= @company.logo_image %>" width="150" height="150" alt="logo"> 
				<% end %>
						<h1><%= @job.name %></h1>
						<h2> Inspectors Certifications</h2>
					</div>
					<div class="span10">
						<p style="padding-left: 60px">
							<img src="<%= technician.license_image %>" alt=""  width="800px" height="800px" /> 
						</p>
					</div>
    				<div class="page-footer offset1">
    					<p>Inspected <%= @job.start_date %> thru <%= @job.finish_date %></br>
    					Inspected by <%= @job.inspected_by %></p>
    				</div>
				</div>
			</div>
			<% end %>	
		</div> 
	</body>
</html>
