<div class="row-fluid">
	<%= render 'navlist' %>
	<div class="span10">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a><span class="divider">/</span>
					</li>
					<li>
						<a href="<%= reports_path %>"><%= controller_name.capitalize %></a><span class="divider">/</span>
					</li>
					<li class="active">
						<a href="#"><%= @report.job.name %></a>
					</li>
				</ul>
				<% if notice %>
				<div class="alert alert-block alert-success fade in">
					<a class="close" data-dismiss="alert">×</a>
					<h4 class="alert-heading"><%= notice %></h4>
				</div>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="row">
					<div class="span6">
						<ul class="nav nav-pills">
							<li>
								<a href="<%= reports_path %>"><i class="icon-arrow-left"></i> Back</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<legend>
					<%= @report.job.name %> 
				</legend>
				<p>
					<b>Report:</b>
					<% if @report.pdf_report_file_name != nil %>		
					<a href="<%= url_for(@report) %>.pdf"><%= @report.job.name %> (Download)</a>
					<% else %>
					<%= @report.job.name %> (Generating...)
					<% end %>
				</p>
			</div>
		</div>
	</div>
</div>
</div> 