<div class="row-fluid">
	<div class="span10">
		<div class="row">
			<div class="span12">
				<legend><%= @job.name %> <small><%= @job.address %></small></legend>
				<p>
					<b>Start date:</b>
					<%= @job.start_date %>
				</p>
				<p>
					<b>Finish date:</b>
					<%= @job.finish_date %>
				</p>
				<p>
					<b>Inspected by:</b>
					<%= @job.inspected_by %>
				</p>
				<p>
					<b>Contact Name:</b>
					<%= @job.contact_first_name %> <%= @job.contact_last_name %>
				</p>
				<p>
					<b>Contact phone:</b>
					<%= @job.contact_phone %>
				</p>
			</div>
		</div>
	</div>
</div>
</div> 